/* PHASE 3: Layout */

.content-main, .content-sidebar{
  min-height: inherit;
  height: 100%;
  background-color: #fff;
  width: 618px;
  padding: 20px;
  float: left;
}

.content-sidebar {
  float: left;
  width: 200px;
}

.content {
  min-height: 200px;
  width: 898px;
  margin: auto;
  border: 1px solid #ccc;
  position: relative;
}

.content:before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  left: 240px;
  top: 0;
  bottom: 0;
  background-color: #ccc;
}
