<div>
  <p>Title: <%= post.get('title') %>
  <p>Body: <%= post.get('body') %>
  <a href="#">Back to Index</a>
  <a href="#posts/<%= post.id %>/edit">Edit</a>
  <input type="button" value="DELETE">
</div>
